doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    .centerCol
        <img src="images/paige-santillo.jpg">
        h1 Paige&apos;s Night Life App
        h2 Proof of concept
        .form
            form
                h2 Query One
                input(type="text", name="search_1" id="search_1")
                .result#result_1 10 Results
                h2 Query Two
                input(type="text", name="search_2" id="search_3")
                .result#result_2
                h2 Query Three
                .result#result_3
                h2 Query Four
                .result#result_4
                h2 Query Five
                .result#result_5
                h2 Query Six
                .result#result_6
                h2 Query Seven
                .result#result_7
                h2 Query Eight
                .result#result_8
                h2 Query Nine
                .result#result_9
                h2 Query Ten
                .result#result_10
                <br>
                <input type="submit" id="submit"><input type="button" id="clear" value="Clear" >