doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    .centerCol
        <img src="images/paige-santillo.jpg">
        h1 Paige&apos;s Night Life App
        h2 Proof of concept
        .form
            form
                h2 Query One
                <input type="text" name="search_1" id="search_1">
                .result#result_1 10 Results
                h2 Query Two
                <input type="text" name="search_2" id="search_2"><div class="result" id="result_2"></div>
                h2 Query Three
                <input type="text" name="search_3" id="search_3"><div class="result" id="result_3"></div>
                h2 Query Four
                <input type="text" name="search_4" id="search_4"><div class="result" id="result_4"></div>
                h2 Query Five
                <input type="text" name="search_5" id="search_5"><div class="result" id="result_5"></div>
                h2 Query Six
                <input type="text" name="search_6" id="search_6"><div class="result" id="result_6"></div>
                h2 Query Seven
                <input type="text" name="search_7" id="search_7"><div class="result" id="result_7"></div>
                h2 Query Eight
                <input type="text" name="search_8" id="search_8"><div class="result" id="result_8"></div>
                h2 Query Nine
                <input type="text" name="search_9" id="search_9"><div class="result" id="result_9"></div>
                h2 Query Ten
                <input type="text" name="search_10" id="search_10"><div class="result" id="result_10"></div>
                <br>
                <input type="submit" id="submit"><input type="button" id="clear" value="Clear" >