doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    <img src="images/paige-santillo.jpg">
    h1 Paige&apos;s Night Life App
    h2 Proof of concept